@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
input, select{
    padding: 10px; 
    margin: 5px;
}
body{
    background-color: #90C9D9;
    font-family: 'Roboto',sans-serif;
    width: auto;
}
div{
    width: 40%;
    background-color: white;
    color: black;
    padding: 20px;
    align-content: center;
    margin:30%;
    display: flex;
}
h1{
    color: #1A5768;
}
.calcular{
    background-color: #1A5768;
    color: white;
    border:none;
    font-size: 30px;
}